In [1]:
# Import pandas
import pandas as pd

In [2]:
# Set path and filename
school_data_file = "Resources/schools_complete.csv"
student_data_file = "Resources/students_complete.csv"

In [3]:
# Load data frames
school_data = pd.read_csv(school_data_file)
student_data = pd.read_csv(student_data_file)

In [6]:
# Combine the data into a single dataset.  
school_data_merged = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_merged.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [42]:
# Calculate the total number of unique schools
school_count = len(school_data_merged["school_name"].unique())
print("There are "+str(school_count)+" schools in the district")

There are 15 schools in the district

In [14]:
# Calculate the total number of students
student_count =len(school_data_merged)
print("There are "+str(student_count)+" students in the district")

There are 39170 students in the district

In [22]:
# Calculate the total budget
total_budget = school_data['budget'].sum()
print("Total budget: $",f'{total_budget:,.2f}')

Total budget: $ 24,649,428.00

In [20]:
# Calculate the average (mean) math score
average_math_score = school_data_merged['math_score'].sum()/student_count
print("Average math score: ",f'{average_math_score:,.2f}')

Average math score:  78.99

In [38]:
# Calculate the average (mean) reading score
average_reading_score = school_data_merged['reading_score'].sum()/student_count
print("Average reading score: ",f'{average_reading_score:,.2f}')

Average reading score:  81.88

In [25]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_merged[(school_data_merged["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
print("Percent of students who passed math: ",f'{passing_math_percentage:,.2f}'+"%")

Percent of students who passed math:  74.98%

In [27]:
# Calculate the percentage of students who passeed reading (hint: look at how the math percentage was calculated)  
passing_reading_count = school_data_merged[(school_data_merged["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
print("Percent of students who passed reading: ",f'{passing_reading_percentage:,.2f}'+"%")

Percent of students who passed reading:  85.81%

In [29]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_merged[
    (school_data_merged["math_score"] >= 70) & (school_data_merged["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
print("Percent of students who passed math and reading: ",f'{overall_passing_rate:,.2f}'+"%")

Percent of students who passed math and reading:  65.17%

In [46]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
# district_summary = school_data_merged.describe() 
district_summary = pd.DataFrame({"Total Schools":[school_count],
            	                 "Total Students":[student_count],
                                 "Total Budget":[total_budget],
                                 "Average Math Score":[f'{average_math_score:,.2f}'],
                                 "Average Reading Score":[f'{average_reading_score:,.2f}'],
                                 "% Passing Math":[f'{passing_reading_percentage:,.2f}'],
                                 "% Passing Reading":[f'{passing_reading_percentage:,.2f}'],
                                 "% Overall Passing":[f'{overall_passing_rate:,.2f}'],})
# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.99,81.88,85.81,85.81,65.17

In [ ]:
## School Summary